---
layout: default
title: All Posts
permalink: /posts/
---

<section class="page-intro">
  <h1>All posts</h1>
  <p>All of my posts, sorted by date.</p>
</section>

<div class="archive">
  {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  {% for year in posts_by_year %}
    <section class="archive-year">
      <h2 class="archive-heading">{{ year.name }}</h2>
      <ul class="archive-list">
        {% for post in year.items %}
          <li class="archive-item">
            <a class="archive-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            <time class="archive-date" datetime="{{ post.date | date_to_xmlschema }}">
              {{ post.date | date: "%b %-d" }}
            </time>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</div>
